.btn {
    width: fit-content;
    padding: 5px 10px;
    border: none;
    background-color: #E8A87C;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.btn--medium {
    padding: 10px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 15px 25px;
    font-size: 22px;
}